@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /*--backgroud-color: #fff;
  --board-color: #f2f2f3;
  --card-color: #fff;
  --text-color: #000;
  --drop-down-color: #fff;
  --card-box-shadow: #e2dede;
  --add-btn-hover: #000;
  --modal-color:#fff;
  --task-hover:#091e4214;*/

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color-rendering: optimizeQuality;
  color-adjust: exact;
  color-interpolation: sRGB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}
